h3{
	  margin-left: 500pt;
	  font-size: 12pt;
      width: 350pt;
      height: 2cm;
      border: 2px ridge purple;
	  background-color: Khaki;
      }h3{
	  margin-left: 500pt;
	  font-size: 12pt;
      width: 350pt;
      height: 2cm;
      border: 2px ridge purple;
	  background-color: Khaki;
      }